@tailwind utilities;
@tailwind base;
@tailwind components;

body {
  font-family: "IBM Plex Serif", "Georgia", Times, serif;
}

.sidebar_main-content_container {
  --width: 200px;
  @apply flex flex-no-wrap flex-row flex-col h-screen bg-primary;
}
@screen md {
  @apply flex-row;
}

.sidebar {
  width: 100%;
  z-index: 1;
  @apply bg-secondary transition-colors duration-200 ease-out fixed;
}

@screen md {
  .sidebar {
    width: var(--width);
    min-width: var(--width);
    @apply h-screen flex justify-center;
  }
}

.main-content {
  position: absolute;
  z-index: 10;
  top: 100px;
  @apply px-24 flex-grow bg-primary;
}

@screen md {
  .main-content {
    width: calc(100% - var(--width));
    margin-left: var(--width);
    z-index: 1;
    top: 0;
  }
}
