@tailwind utilities;
@tailwind base;
@tailwind components;

body {
  font-family: "IBM Plex Serif", "Georgia", Times, serif;
}

.sidebar_main-content_container {
  --width: 400px;
  @apply flex flex-no-wrap flex-row flex-col h-screen bg-primary;
}

.sidebar {
  width: 100%;
  z-index: 1;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "overlap";
  @apply bg-secondary transition-colors duration-200 ease-out fixed;
}

@screen xl {
  .sidebar {
    width: var(--width);
    min-width: var(--width);
    @apply h-screen justify-center;
  }
}

.main-content {
  position: absolute;
  z-index: 10;
  top: 100px;
  @apply px-4 flex-grow bg-primary w-screen;
}
@screen md {
  .main-content {
    @apply px-12;
  }
}

@screen xl {
  .main-content {
    width: calc(100% - var(--width));
    margin-left: var(--width);
    @apply z-10 top-0 px-16;
  }
}

.blog-link {
  @apply text-accent cursor-pointer shadow-link text-xl;
}
