@tailwind utilities;
@tailwind base;
@tailwind components;

body {
  font-family: "IBM Plex Serif", "Georgia", Times, serif;
}

.sidebar {
  width: 100%;
  min-width: 380px;
  z-index: 1;
  @apply bg-secondary transition-colors duration-200 ease-out fixed;
}

@screen md {
  .sidebar {
    min-width: unset;
    @apply h-screen flex justify-center;
  }
}

.main-content {
  position: absolute;
  z-index: 10;
  top: 100px;
  @apply px-12 flex-grow bg-primary;
}

@screen md {
  .main-content {
    width: calc(100%-380px);
    margin-left: 380px;
    z-index: 1;
  }
}
